*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background:rgb(48, 47, 47) ;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 2%;
}
#pausebtn{
    margin-left: 1%;

}
#pausebtn:active{
    background-color: white;
}
#resumebtn:active{
    background-color: white;
}
#resumebtn{
 margin-left: 2%;
}


textarea{
    background-color: black;
    width: 50vw;
    height: 53vh;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 26%;
    margin-top: 9%;
    align-items: center;
    padding-top: 12px;
    padding-left: 9px;
    border-radius: 14px;
    box-shadow:  5px 6px #888888;

}
button{
    background-color: rgb(71, 67, 67);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 30px 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: 31%;
    margin-top: 2%;
    margin-bottom: 20px;
    cursor: pointer;
}
button:active{
    background-color: white;
}
 .img{
    width: 25px;
    height: 20px;
    margin-left: 12px;
    margin-bottom: -4px;
}

