*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: linear-gradient(45deg,black,rgb(112, 98, 98));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 2%;
}


textarea{
    background-color: black;
    width: 40vw;
    height: 45vh;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 31%;
    margin-top: 3%;
    align-items: center;
    padding-top: 12px;
    padding-left: 9px;
    border-radius: 14px;
    box-shadow:  5px 6px #888888;

}
button{
    background-color: rgb(71, 67, 67);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 30px 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: 31%;
    margin-top: 2%;
    margin-bottom: 20px;

}
 .img{
    width: 25px;
    height: 20px;
    margin-left: 12px;
    margin-bottom: -4px;
}

